* {
    */ border: 2px solid red;
}

body {
    background-color: #ccd4e2;
}

#navbar {
    background-color: #5388e2;
    margin-bottom: -8px;

}

#logo {
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    margin-top: -15px;
    margin-left: 16%;
    padding: 6.4% 5px;
    font-size: 42px;
    width: 300px;
    text-shadow: -01px 0 #ccd4e2, 0 1px #ccd4e2, 1px 0 #ccd4e2, 0 -1px #ccd4e2;
    text-decoration: none;
}


.input-group {
    margin-top: 4%;
    margin-left: -20%;
    margin-right: 29%;
}

#buttonsearch {
    height: 34px;
    border: none;
    border-radius: 6px;
    z-index: 2;
    margin-left: -187%;
}

.name {
    margin-top: ;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #5388e2;
}

.venue {
    font-family: 'Source Sans Pro', sans-serif;
}

.pic {
    float: left;
    height: 190px;
    width: 295px;
    margin-right: 1%;
    margin-top: 0%;
}

.barinfo {
    font-size: 20px;
}

.gameinfo {
    margin-left: 8%;
    margin-top: 1%;
}

.timezone {
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
}

.time {
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    margin-left: 5px;
}

.infobox {
    padding: 40px;
    border: 1.5px solid #5388e2;
    margin: 1.5% 0%;
    background-color: white;
    height: 290px;
    border-radius: 5px;
}

.date {
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
}

.tix {
    font-family: 'Source Sans Pro', sans-serif;
}

.sports {
    display: inline-block;
}


#logolink {
    color: white;
    text-decoration: none;
}

#logolink:hover {
    color: white;
    text-decoration: none;
}

#logolink:visited {
    color: white;
    text-decoration: none;
}


.maptext {
    position: absolute;
    z-index: 100;
    margin-top: -9%;
    margin-left: 0%;
    padding: 1% 4%;
    background-color: white;
    color: black;
}

#search_key {
    width: 66%;
    margin-left: 10%;
}

#categoriesbox {
    background-color: white;
    margin-bottom: 2%;
}

#categories {
    float: left;
    margin-left: 6%;
    width: 100%;
}

.sports {
    padding-left: 1.2%;
    padding-right: 1.2%;
    border-right: 1px solid #d4d7db;
}

#last {
    border: none;
}

.beer {
    height: 22px;
    ;
}

#footer {
    background-color: #5388e2;
    border-top: 3px solid white;
}

.footertext {
    margin-top: 15px;
    color: white;
}

.twitterpic {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: -11%;
    margin-right: 4%;
}