* {
    */ border: 2px solid red;
}

body {
    background-color: #ccd4e2;
}

#navbar {
    background-color: #5388e2;
    border-bottom: 4px solid white;
    margin-bottom: 1%;
}

#logo {
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    margin-top: -6px;
    margin-left: 16%;
    padding: 6.4% 5px;
    font-size: 42px;
    width: 300px;
    text-shadow: -01px 0 #ccd4e2, 0 1px #ccd4e2, 1px 0 #ccd4e2, 0 -1px #ccd4e2;
    text-decoration: none;
}


.input-group {
    margin-top: 5%;
    margin-left: -20%;
    margin-right: 29%;
}

#buttonsearch {
    height: 34px;
    border: none;
    border-radius: 6px;
    margin-left: -2px;
    z-index: 2;
}

.name {
    margin-top: ;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #5388e2;
}

.pic {
    float: left;
    height: 190px;
    width: 295px;
    margin-right: 1%;
    margin-top: 0%;
}

.barinfo {
    font-size: 20px;
}

.gameinfo {
    margin-left: 8%;
    margin-top: 1%;
}

.timezone {
    font-family: 'Source Sans Pro', sans-serif;
}

.time {
    font-family: 'Source Sans Pro', sans-serif;
}

.infobox {
    padding: 40px;
    border: 1.5px solid #5388e2;
    margin: 1.5% 0%;
    background-color: white;
    height: 290px;
}

.date {
    font-family: 'Source Sans Pro', sans-serif;
}

.tix {
    font-family: 'Source Sans Pro', sans-serif;
}

#logolink {
    color: white;
    text-decoration: none;
}

#logolink:hover {
    color: white;
    text-decoration: none;
}

#logolink:visited {
    color: white;
    text-decoration: none;
}


.maptext {
    position: absolute;
    z-index: 100;
    margin-top: -9%;
    margin-left: 0%;
    padding: 1% 4%;
    background-color: white;
    color:black;
}